@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .card {
    @apply shadow-xl backdrop-filter backdrop-blur-xl bg-grey-800/30 border-white/10 rounded border;
  }
  .btn {
    @apply shadow-xl backdrop-filter backdrop-blur-xl bg-grey-800/30 hover:bg-grey-800/60 border-white/10 rounded border focus:outline-none focus:ring-2 focus:ring-white/50;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

body {
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
}
